<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
<!--

	&lt;!&ndash;组件扫描 扫描service和mapper&ndash;&gt;
	<context:component-scan base-package="com.itheima">
		&lt;!&ndash;排除controller的扫描&ndash;&gt;
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>

	&lt;!&ndash;加载propeties文件&ndash;&gt;
	<context:property-placeholder location="classpath:jdbc.properties"/>

	&lt;!&ndash;配置数据源信息&ndash;&gt;
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
		<property name="driverClassName" value="${jdbc.driver}"/>
		<property name="url" value="${jdbc.url}"/>
		<property name="username" value="${jdbc.username}"/>
		<property name="password" value="${jdbc.password}"/>
	</bean>

	&lt;!&ndash;配置sessionFactory&ndash;&gt;
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		&lt;!&ndash; 设置连接信息 &ndash;&gt;
		<property name="dataSource" ref="dataSource"/>
		&lt;!&ndash;加载mybatis核心文件&ndash;&gt;
&lt;!&ndash;		<property name="configLocation" value="classpath:sqlMapConfig.xml"/>&ndash;&gt;
		&lt;!&ndash; 设置别名 &ndash;&gt;
		<property name="typeAliasesPackage" value="com.itheima.domain"/>
	</bean>

	&lt;!&ndash;扫描mapper所在的包 为mapper创建实现类&ndash;&gt;
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.itheima.mapper"/>
	</bean>


	&lt;!&ndash;声明式事务控制&ndash;&gt;
	&lt;!&ndash;平台事务管理器&ndash;&gt;
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>


	&lt;!&ndash;配置事务增强&ndash;&gt;
	<tx:advice id="txAdvice">
		<tx:attributes>
			<tx:method name="*"/>
		</tx:attributes>
	</tx:advice>

	&lt;!&ndash;事务的aop织入&ndash;&gt;
	<aop:config>
		<aop:advisor advice-ref="txAdvice" pointcut="execution(* com.itheima.service.*.*(..))"/>
	</aop:config>
-->

</beans>