<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">

	<!-- 加载配置文件 -->
	<context:property-placeholder location="classpath:properties/rabbitmq.properties"/>

	<!-- 定义rabbitmq connectionFactory -->
	<rabbit:connection-factory id="connectionFactory"
	                           host="${rabbitmq.host}"
	                           port="${rabbitmq.port}"
	                           username="${rabbitmq.username}"
	                           password="${rabbitmq.password}"
	                           virtual-host="${rabbitmq.virtual-host}"/>

	<bean id="springQueueListener" class="com.itheima.listener.SpringQueueListener"/>
	<bean id="fanoutListenerA" class="com.itheima.listener.FanoutListenerA"/>
	<bean id="fanoutListenerB" class="com.itheima.listener.FanoutListenerB"/>
	<bean id="topicListenerStar" class="com.itheima.listener.TopicListenerStar"/>
	<bean id="topicListenerWell" class="com.itheima.listener.TopicListenerWell"/>
	<bean id="topicListenerHash" class="com.itheima.listener.TopicListenerHash"/>

	<rabbit:listener-container connection-factory="connectionFactory" auto-declare="true">
		<rabbit:listener ref="springQueueListener" queue-names="spring_queue"/>
		<rabbit:listener ref="fanoutListenerA" queue-names="spring_fanout_queueA"/>
		<rabbit:listener ref="fanoutListenerB" queue-names="spring_fanout_queueB"/>
		<rabbit:listener ref="topicListenerStar" queue-names="spring_topic_queue_star"/>
		<rabbit:listener ref="topicListenerWell" queue-names="spring_topic_queue_well"/>
		<rabbit:listener ref="topicListenerHash" queue-names="spring_topic_queue_hash"/>
	</rabbit:listener-container>

</beans>