<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.UserMapper">

	<!-- 设置映射关系 -->
	<resultMap id="userMap" type="user">

		<result property="id" column="id"/>
		<result property="username" column="username"/>
		<result property="password" column="password"/>
		<collection property="orderList" column="id" ofType="order"
		            select="com.itheima.mapper.OrderMapper.listByUid"/>

	</resultMap>

	<select id="listAll" resultMap="userMap">
		SELECT * FROM `sys_user`
	</select>
	
	<select id="getById" resultType="user">
		select * from `sys_user` where id=#{id}
	</select>

</mapper>