<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<script src="../node_modules/vue/dist/vue.js"></script>
</head>
<body>

	<div id="app">

		<ul>
			<li v-for="(user,index) in users" :key="index">
				{{index + 1}}-{{user.name}}-{{user.age}}-{{user.gender}}
			</li>
		</ul>

		<ul>
			<li v-for="(value,key,index) in person">
				{{index + 1}}-{{key}}-{{value}}
			</li>
		</ul>

	</div>

	<script>
		let app = new Vue({
			el:"#app",
			data:{
				users:[
					{"name":"Jerry","age":21,"gender":"男"},
					{"name":"Rose","age":22,"gender":"女"},
					{"name":"Jack","age":22,"gender":"男"},
				],
				person:{"name":"Tom","age":26,"gender":"男","address":"America"}
			}
		});
	</script>

</body>
</html>